<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Student Data</H1>
    <h3>Student Name:{{student.name}}</h3>
    <h3>Standard:{{.student.std}}</h3>
    <h3>School Name:{{student.school}}</h3>
</body>
</html>